body {
    margin: 0;
    font-family: sans-serif;
    background-color: brown;
}

* {
    box-sizing: border-box;
}

.container {
    max-width: 1140px;
    background-color: chocolate;
    height: auto;
    margin: 40px auto;
    margin: 20px auto;
}

h1 {
    font-size: 30px;
    margin: 0;
}

.clear {
    clear: both;
}

nav {
    float: left;
    width: 100%;
    background-color: darkblue;
    text-align: center;
    padding: 30px 15px;
    margin-bottom: 20px;
}

header {
    float: left;
    width: 100%;
    background-color: darkgreen;
    text-align: center;
    padding: 130px 15px;
}

.section1 {
    float: left;
    width: 100%;
    background-color: darkgreen;
    text-align: center;
    padding: 50px 15px;
    margin-bottom: 20px;
}

.section1 .content {
    float: left;
    width: 100%;
    margin-top: 60px;
}

.section1 .content .card {
    width: 25%;
    float: left;
    padding: 0px 10px;
}

.section1 .content .card .box {
    background-color: blanchedalmond;
    font-size: 30px;
    color: black;
    padding: 50px 15px;
}

.section2 {
    float: left;
    width: 100%;
    background-color: darkgreen;
    text-align: center;
    padding: 50px 15px;
    margin-bottom: 20px;
}

.section2 .content {
    float: left;
    width: 100%;
    margin-top: 60px;
}

* {
    box-sizing: border-box
}

body {
    font-family: Verdana, sans-serif;
    margin: 0
}

.mySlides {
    display: none
}

img {
    vertical-align: middle;
}


/* Slideshow container */

.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
}

.prev,
.next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    padding: 16px;
    margin-top: -22px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
}

.prev:hover,
.next:hover {
    background-color: rgba(0, 0, 0, 0.8);
}

.text {
    color: #f2f2f2;
    font-size: 15px;
    padding: 8px 12px;
    position: absolute;
    bottom: 8px;
    width: 100%;
    text-align: center;
}

.dot {
    cursor: pointer;
    height: 15px;
    width: 15px;
    margin: 0 2px;
    background-color: #bbb;
    display: inline-block;
}

.active,
.dot:hover {
    background-color: #717171;
}

footer {
    float: left;
    width: 100%;
    background-color: darkgreen;
    text-align: center;
    padding: 50px 15px;
}